@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'OpenSans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Adamina', serif;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Style for the gallery and items */

.gallery-item {
  position: relative;
  overflow: hidden;
}

/* Style for the overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Darkening */
  opacity: 0;
  /* Hidden by default */
  transition: 0.5s ease;
  /* Smooth transition for effect */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the text above the image */
.text {
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

/* Hover effect */
.gallery-item:hover img {
  filter: brightness(70%);
  /* Darken the image */
}

.gallery-item:hover .overlay {
  opacity: 1;
  /* Show the overlay */
}

/* Add rounded corners */
.post-container {
  @apply rounded-lg overflow-hidden shadow-md;
}

